.component-repository-list {

    &__list {
        padding: 0;
        list-style: none;

        &__item {
            margin-bottom: 10px;
            padding: 10px;
            .block-highlight();

            &__link {

            }

            &__description {
                margin: 0;
            }
        }

    }
}