.component-tag-manager {

    &__list {
        padding: 0;
        margin: 10px 0;
        list-style: none;

        &__item {
            margin-bottom: 6px;
            font-size: 14px;
            line-height: 16px;

            &-inner {
                position: relative;
                padding: 2px 20px 2px 10px;
                border-radius: 10px;
                background: #ddd;
            }

            a {
                color: #666;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                }
            }

            &__remove-button {
                position: absolute;
                top: 3px;
                right: 3px;
                cursor: pointer;
            }
        }

    }

}