.component-tag-manager {
    @local-item-height: 20px;

    &__list {
        padding: 0;
        margin: 10px 0;
        list-style: none;
    }

    .Pill {
        &__label {
            margin-right: 0;
        }
        &__clear {
            margin-left: 0;
            border-left: 1px solid #585858;
        }
    }

}