.page-landing {

    &__title {
        text-align: center;
    }

    &__features {
        display: flex;
        padding: 50px;
    }

    &__feature {
        width: 100% / 3;
    }

    &__feature-icon {
        text-align: center;

        .octicon {
            font-size: 42px;
        }
    }

    &__feature-description {
        padding: 10px;
        text-align: center;
    }

    &__cta {
        text-align: center;
    }

    &__login-button {
        padding: 10px;
        border-radius: 4px;
        background: #42aaff;
        color: #ffffff;
        font-size: 42px;

        &, &:hover, &:link, &:active {
            color: #ffffff;
            text-decoration: none;
        }
    }

}