.page-repository {

    &__body {
        display: flex;
        flex-direction: row;
    }

    &__content {
        width: 75%
    }

    &__title {
        display: flex;
        flex-direction: row;

        margin: 0 0 10px 0;

        h1 {
            margin: 0;
        }
    }

    //&__description {}

    &__tags {
        width: 25%;
        padding: 10px;
        .block-highlight();
    }

    &__github-link {
        margin-right: 10px;
        line-height: 42px;
        .octicon {
            color: #000011;
            font-size: 42px;
        }
    }

}