// Third-party
@import "../../../node_modules/elemental/less/elemental";

// Mixins
@import "mixins/blocks";

// Pages
@import "pages/LandingPage";
@import "pages/RepositoriesPage";
@import "pages/RepositoryPage";
@import "pages/TagPage";
@import "pages/SearchPage";

// Components
@import "components/Partials";
@import "components/RepositoryList";
@import "components/TagList";
@import "components/TagManager";
@import "components/Pager";

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: #4078c0;

    &:hover {
        color: #4078c0;
        text-decoration: underline;
    }
}

#app {
    height: 100%;
}